/*==========================================================sliders*/
.pop-sl-img, .recom-sl-img{
    margin-left: 10px;
    margin-right: 10px;
}
.pop-sl-img img, .recom-sl-img img{
    width:100%
}
.desc-lviv-sl{
    margin-top: -21px;
    margin-left: 12px;
    background-image: linear-gradient(180deg, #000000b8, #000);
    color: #fff;
    text-align: center;
    font-weight: 600;
}
#planning .card-img-marker-small {
    background-image: none;
    background-color: #fff !important;

}
/*==========================================================endsliders*/

/*==========================================================popups*/
#lviv .card-img-marker-small{
    background-image: none;
    background-color: #fff;
}
#lviv h3{
    font-weight: 600 !important;
    margin-bottom: 20px;
    margin-top: 30px;
    color:#fff
}
#lviv h3:first-child{
    margin-top: 2px !important;
}
#lviv .row:first-child{
    padding-bottom: 70px;
    margin-bottom: 2em;
    border-bottom: 1px solid #fff;
}
#lviv h3:last-child{
    margin-top: 3em;
}
#events .form-search{
    width: 27em;
    margin-left: 2em;
    margin-top: 6em;
}
.events-card-time{
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    color: #fff;
    width: 100%;
    z-index: 1;
    background-color: #100d10;
}
.events-card-time span{
    font-size: 20px;
    margin-left: 1em;
    font-weight: 600;

}
#events .card {
    min-height: 220px !important;
}
#planning .card__description{
    margin-bottom: 1em;
}
#planning .planning-slider .card__description{
    margin-bottom: 0;
}
#planning .card__title{
    font-size: 21px;
}
#planning h3{
    color:#fff;
}
#planning .card-hotel-name{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
#planning .card-hotel-type{
    color: #fff
}
#lviv .card-lviv-name{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
#lviv .card-lviv-type{
    font-size: 16px;
    line-height: 16px;
    color: #fff
}
#business .row h3, #planning .row h3{
    font-size:24px;
    margin-bottom: 1em;
    color:#fff;
}

#planning .row:first-child, #business .row:first-child{
    margin-bottom: 3em;
    border-bottom: 2px solid #fff;
}
#business .card{
    min-height: 220px;
}
.place-mark{
    position: absolute;
    z-index: 12;
    right: 0px;
    color: #fff
}
.place-mark span:first-child{
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8
}
#planning .card__description{
    margin-bottom: 0em;
}
.popup-socials li a{
    margin-top: 2em;
    color: #fff
}
.header__lang button {
    color:#fff;
    font-size: 19px;
}
.header--small .header__lang button{
    color: #352a33
}
/*==========================================================end*/
.main-menu .card {
    display: block;
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    min-height: 270px;
    background-position: 50%;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;

}
.main-menu .card-marker-date-text{
    font-size: 11px;
    margin-bottom: 17px;
}
.main-menu .card-marker-date{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-align: -moz-center;
    margin-bottom: 15px;
}
.main-menu .card-marker-month{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-align: -moz-center;
}
.main-menu .card-marker-time-text{
    font-size: 11px;
}
.main-menu .card-marker-time{
    font-size: 20px;
}
.main-menu .card__description {
    background: rgba(27, 27, 27, 0.26);
    padding: 8px 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    position: relative
}
.main-menu .card-small{
    display: block;
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    min-height: 190px;
    background-position: 50%;
    background-repeat: no-repeat;
    -moz-background-size: cover;

}
.main-menu .card-overlay-small{
    padding: 10px 1px 2px !important;
}
.main-menu .card-marker-date-small{
    text-align: center;
    text-align: -moz-center;
    font-size: 21px;
    margin-top: 10px;
}
.main-menu .card-marker-month-small{
    font-size: 12px;
    text-align: center;
    text-align: -moz-center;
}
.main-menu .card__title-small{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}
.main-menu .card-block-class{
    color: #fff;
    font-size: 12px;
}
.main-menu .card-img-marker-small{
    width: 70px;
    height: 70px;
    top: -6px;
    color: #fffde5;
    position: absolute;
    font-family: inherit;
    background-image: linear-gradient(180deg, #000000b8, #000);
    display: block;
    z-index: 100;
    line-height: 10px;
    padding: 6px;
    margin-left: 10px;
}
.main-menu .card__title {
    color: #fffde7;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.main-menu .card-img-marker{
    width: 140px;
    height: 140px;
    top: -10px;
    color: #fffde5;
    position: absolute;
    font-family: inherit;
    background-image: linear-gradient(180deg, #000000b8, #000);
    display: block;
    z-index: 10;
    line-height: 10px;
    padding: 10px;
    margin-left: 20px;
}
.main-menu .card-img-now{
    /*height: 60%;*/
}
.main-menu .card--place span {
    width: 100%;
    margin-left: 25px;
    padding: 15px
}
.main-menu .footer {
    margin-top: 15px;
    background: #352a33;
    color: #fff;
    padding: 50px 0 0
}